.App {
  text-align: center;
}

.masthead {
  margin: auto;
  height: 100vh;
  min-height: 500px;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Montserrat";
}

.portfolio {
  margin: auto;
  position: relative;
  top: 50px;
  height: 100%;
}

.center {
  margin: auto;
  width: 50%;
}

.notFound {
  margin: auto;
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.padding-right {
  padding-right: 10px;
}

.padding-right-left {
  padding-right: 150px;
  padding-left: 150px;
  background-color: yellow;
}

.padding-top {
  padding-top: 10px;
}

.padding-bottom {
  padding-bottom: 75px;
}

.project {
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}

.project:hover {
  -webkit-filter: brightness(20%);
  -moz-filter: brightness(20%);
  -o-filter: brightness(20%);
  -ms-filter: brightness(20%);
  filter: brightness(20%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#wrapper .text {
  pointer-events: none;
  position: absolute;
  bottom: 45%;
  left: 36%;
  visibility: hidden;
  color: white;
}

#wrapper:hover .text {
  visibility: visible;
}

#sticky-footer {
  position: relative;
  flex-shrink: none;
  width: 100%;
}
