.App {
  text-align: center;
}

.masthead {
  margin: auto;
  height: 100vh;
  min-height: 500px;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Montserrat";
}

.portfolio {
  margin: auto;
  position: relative;
  top: 50px;
  height: 100%;
}

.center {
  margin: auto;
  width: 50%;
}

.notFound {
  margin: auto;
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.padding-right {
  padding-right: 10px;
}

.padding-right-left {
  padding-right: 150px;
  padding-left: 150px;
  background-color: yellow;
}

.padding-top {
  padding-top: 10px;
}

.project {
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}

.project:hover {
  -webkit-filter: brightness(20%);
  -moz-filter: brightness(20%);
  -o-filter: brightness(20%);
  -ms-filter: brightness(20%);
  filter: brightness(20%);
}
