.App {
  text-align: center;
}

a {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

*/ html,
body {
  height: 100%;
  position: relative;
}

.masthead {
  margin: auto;
  height: 100vh;
  min-height: 500px;
}

.center {
  margin: auto;
  width: 50%;
}

.page {
  min-height: 100vh; /* will cover the 100% of viewport */
  position: relative;
  padding-bottom: 100px;
  /* heightof your footer */
  margin: auto;
  height: 100vh;
  min-height: 500px;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.notFound {
  margin: auto;
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.padding-right {
  padding-right: 10px;
}

.padding-right-left {
  padding-right: 150px;
  padding-left: 150px;
}

.padding-top {
  padding-top: 10px;
}

#padding-notHome {
  padding-top: 150px;
  padding-bottom: 80px;
}

.padding-bottom {
  padding-bottom: 75px;
}

.project {
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}

.project:hover {
  -webkit-filter: brightness(20%);
  -moz-filter: brightness(20%);
  -o-filter: brightness(20%);
  -ms-filter: brightness(20%);
  filter: brightness(20%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#wrapper .text {
  pointer-events: none;
  position: absolute;
  bottom: 45%;
  left: 36%;
  visibility: hidden;
  color: white;
}

#wrapper:hover .text {
  visibility: visible;
}

#tester {
  /* background-color: orange; */
}

.project-container {
  background-color: white;
  display: inline-block;
  width: 100%;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./assets/cloudCare.png"); */
}

.project-container::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 57.14%;
}
.project-container::after {
  /* to clear float */
  content: "";
  display: table;
  clear: both;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.project-container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.8);
}

.project-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project-title {
  position: absolute;
  text-align: center;
  /* background-color: orange; */
  width: 100%;
  height: 50%;
  font-weight: 700;
  font-size: 1.75vw;
  padding-top: 5%;
  top: 25%;
  text-transform: uppercase;
  color: black;
  z-index: 1;
  transition: top 0.5s ease;
}

/* #project-one {
  display: inline-block;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("./assets/cloudCare.png");
} */

.project-container:hover .project-title {
  top: 0;
  color: white;
}

.project-button {
  margin: auto;
  position: relative;
  text-align: center;
  width: 4vw;
  left: 0;
  bottom: 0.3vw;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.project-button a {
  width: 150px;
  padding: 12px;
  text-align: center;
  z-index: 1;
}

.project-container:hover .project-button {
  opacity: 1;
}

/* CSS Transition animations */
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear 150ms;
}

.button-text {
  color: white;
}
